<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudLinQWPF.Properties.Settings.CrudLinqSql" connectionString="Data Source=DESKTOP-O5L8NSD\IHECAST;Initial Catalog=GestionPedidos;Persist Security Info=True;User ID=sa;Password=hecast2023"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>